
body {
    font-family: Arial, sans-serif;
    background-image: url(./assets/body.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    
}
.frase{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff, #ff00ff);
        -webkit-background-clip: text;
        background-size: 300%;
        -webkit-text-fill-color: transparent;
        animation: colorAnimation 5s infinite alternate;
    }
    
    @keyframes colorAnimation {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

h1, h2 {
    text-align: center;
    color: #000000;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    background-color: #e53935;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f56e45;
}


.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.producto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.add-to-cart {
    background-color: #000300;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.add-to-cart:hover {
    background-color: #8c52a7;
}


.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

button#clear-cart {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button#clear-cart:hover {
    background-color: #e53935;
}

button#comprar{
    background-color: #000300;
}

.bebidas{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
